<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.gov.nla.forte"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_store_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Default" >
        
        <activity
            android:name="au.gov.nla.forte.activity.StartActivity"
            android:label="@string/app_store_name"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="au.gov.nla.forte.activity.CoverDisplayActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="au.gov.nla.forte.activity.ScoreActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="au.gov.nla.forte.activity.FavouritesActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>
</manifest>